<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>

    <header>
        <div class="navbar"></div>
    </header>

    <main>
        <div class="content"></div>
    </main>

    <footer>
        <div class="footer"></div>
    </footer>

    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>